<form autocomplete="off" onsubmit="event.preventDefault()">

    <p class="notes" style="width:400px">
        {{localize "LockView.EnMenu.Description"}}
    </p>

    <table style="width:400px">
        <thread>
            <tr>
                <th scope="col" span="1" style="width:35%; text-align:left;">{{localize "LockView.EnMenu.Name"}}</th>
                <th scope="col" span="1" style="width:30%; text-align:left;">{{localize "LockView.EnMenu.Role"}}</th>
                <th scope="col" span="1" style="width:17.5%; text-align:left;">{{localize "LockView.EnMenu.Control"}}</th>
                <th scope="col" span="1" style="width:17.5%; text-align:left;">{{localize "LockView.EnMenu.Viewbox"}}</th>
            </tr>
        </thread>

        <tbody>
            {{#each data as |d|}}
                <tr index="{{d.index}}">
                    <td>
                        <label style="text-align:left">
                            <b>{{d.name}}</b>
                        </label>
                    </td>
                    <td>
                        <label style="text-align:left">
                            {{d.role}}
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" name="enable" data-dtype="Boolean" {{#if d.enable}}checked{{/if}}>
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" name="viewbox" data-dtype="Boolean" {{#if d.viewbox}}checked{{/if}}>
                        </label>
                    </td>

                </tr>
                <input type="text" name="id" value={{d.id}} style="display:none">
            {{/each}}
        </tbody>

    </table>
    <button type="submit" name="submit">
        <i class="fas fa-save"></i> {{localize "LockView.EnMenu.Save"}}
    </button>

</form>